* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #666;
    border-radius: 5px;
    padding-bottom: 10px;
}

.form-group {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

input {
    margin: 3px;
    width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

button.confirmar:hover {
    background-color: #0022AA;
}