* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #666;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

input {
    margin: 3px;
    width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

.selecciones {
    display: flex;
    flex-wrap: wrap;
}

.selecciones input{
    width: 5%;
}

.selecciones label{
    width: 90%;
    text-align: left;
}

button {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ebebeb;
    border: solid 2px #1259c3;
}

button.confirmar:hover, button.guardar-producto:hover {
    background-color: #0022AA;
    color: #ebebeb;
}

.selecciones label.encabezado-seleccion {
    display: block;
    width: 100%;
}

div.login {
    margin: 15px 0px;
}

/* ================== */
.form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }

  h2.products-title {
    width: 100%;
    text-align: center;
  }

/* ================== */



@media (min-width: 769px) {
    main {
        display: flex;
        justify-content: center;
    }

    form {
        width: 50%;
    }

    form.login {
        width: 50%;
    }
}