body {
    background-color: #ebebeb;
}

header, footer, main {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Header*/
header {
    background-color: #EAC926;
}

#logo {
    height: 100;
    width: 150px;
}

nav ul{
    list-style-type: none;
}

nav ul {
    margin: 0; 
    padding: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

h2 {
    font-size: 24px;
}

p.descuentos {
    font-size: 16px;
}

h4.descripcion {
    font-size: 16px;
}

p.precio {
    font-size: 18px;
}

header p {
    text-align: center;
}


.searchbar {
    margin: 5px;
    background-color: white;
    color: lightgrey;
    border: solid lightgrey;
}

p.lupa{
    display: inline;
    color: black;
}

.contendor {
    display: flex;
    justify-content: center;
}

.burger-menu {
    border-radius: 5px;
    background-color: #03264C;
    border: solid #03264C;
    color: white;
}

/*Main*/
main {
    margin: auto;
    width: 90vw;
}

article {
    margin: 10px;
}

article div {
    border-top: #ebebeb solid 1px;
    background-color: white;
    border-right: 15px;
    border-left: 15px;
}

/*
main section {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
} */

/*Footer*/
footer {
    background-color: white;
}

footer section {
    margin-top: 1px;
    text-align: center;
}

footer section i {
    margin-bottom: 10px;
    color: blue;
    font-size: 2em;
}

footer section h4 {
    font-family: 'Roboto', sans-serif;
}

/*Phone*/
@media (min-width: 361px){
    article div h4 {
        display: none;
    }

    header nav {
        display: none;
    }
}

/*tablet y laptop*/
@media (min-width: 769px){
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article div h4 {
        display: block;
    }

    header nav {
        display: block;
    }

    div.contendor {
        display: none;
    }
}