body {
    background-color: #EAC926;
}

nav ul{
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

h2 {
    font-size: 24px;
}

p.descuentos {
    font-size: 16px;
}

h4.descripcion {
    font-size: 16px;
}

p.precio {
    font-size: 18px;
}

header p {
    text-align: center;
}


.searchbar {
    background-color: white;
    border: solid lightgrey;
    display: inline;
}